<?xml version="1.0" encoding="utf-8"?>
<Content Key="89a24ec7-3653-45d1-9b70-e73f478f50b2" Alias="Kategorije" Level="2">
  <Info>
    <Parent Key="040c2dde-cd19-4eba-9bb6-f672c3e71260">Početna</Parent>
    <Path>/Pocetna/Kategorije</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2025-05-09T18:21:13</CreateDate>
    <NodeName Default="Kategorije" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>