<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1799648-1208-46b4-ad9b-3ea9c2414612" Alias="Kuhinje" Level="3">
  <Info>
    <Parent Key="89a24ec7-3653-45d1-9b70-e73f478f50b2">Kategorije</Parent>
    <Path>/Pocetna/Kategorije/Kuhinje</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-05-10T10:30:54</CreateDate>
    <NodeName Default="Kuhinje" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>