<?xml version="1.0" encoding="utf-8"?>
<Content Key="191185f2-4890-441c-8bd7-6a2fad8cc298" Alias="Namještaj po mjeri" Level="2">
  <Info>
    <Parent Key="040c2dde-cd19-4eba-9bb6-f672c3e71260">Početna</Parent>
    <Path>/Pocetna/NamjestajPoMjeri</Path>
    <Trashed>false</Trashed>
    <ContentType>standardContent</ContentType>
    <CreateDate>2025-05-10T09:46:00</CreateDate>
    <NodeName Default="Namještaj po mjeri" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="65a8c356-f294-47fb-b894-e4c6411bcccc">StandardContent</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/44b334c3e3094aa9980eeb7a8b78d889"
      },
      {
        "contentUdi": "umb://element/e0c9b9d7e30a4a4dab5964cfb9274167"
      },
      {
        "contentUdi": "umb://element/23bec9be059c474480fef1eaf3ba48b3"
      },
      {
        "contentUdi": "umb://element/f0dcf78dde434856a3422f8ddb54fbd3"
      },
      {
        "contentUdi": "umb://element/bed874ecbc2742059bc0b9acec1df968"
      }
    ]
  },
  "contentData": [
    {
      "callToActionLink": [
        {
          "name": "Saznaj više",
          "udi": "umb://document/040c2ddecd194eba9bb6f672c3e71260"
        }
      ],
      "contentTypeKey": "3d300ef3-0bab-4ce6-8355-02d0fb1fed24",
      "description": "Jednostavan i transparentan proces u 4 koraka",
      "image": [
        {
          "key": "3311478a-8c56-4ccf-923b-bb5b34182e0f",
          "mediaKey": "0952843e-3c37-4756-80ef-2f598e7f1417"
        }
      ],
      "steps": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d4f6a6e7d184489e8fb9c3efc6d2b0e0"
            },
            {
              "contentUdi": "umb://element/1598e222d87b4d7cb19b51eaa01ae213"
            },
            {
              "contentUdi": "umb://element/42adfd80b4fc45e6b819324f6c7f62d8"
            },
            {
              "contentUdi": "umb://element/ac898408b68441fdbda917173cfae33e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "a7327f85-d982-461b-b4c6-1499eaeed7da",
            "description": "Naš tim je spreman da sasluša vaše ideje i potrebe. Možete nas kontaktirati putem telefona, emaila ili obrasca na sajtu kako bismo zakazali besplatne konsultacije.",
            "title": "Kontakt i konsultacije",
            "udi": "umb://element/d4f6a6e7d184489e8fb9c3efc6d2b0e0"
          },
          {
            "contentTypeKey": "a7327f85-d982-461b-b4c6-1499eaeed7da",
            "description": "Dolazimo na lice mjesta da precizno izmjerimo prostor. Na osnovu toga izrađujemo 3D prikaz rješenja koji vam omogućava da vizualizujete budući namještaj prije izrade.",
            "title": "Mjerenje i 3D dizajn",
            "udi": "umb://element/1598e222d87b4d7cb19b51eaa01ae213"
          },
          {
            "contentTypeKey": "a7327f85-d982-461b-b4c6-1499eaeed7da",
            "description": "Vaš namještaj izrađujemo koristeći vrhunske materijale i savremenu tehnologiju. Naša ekipa potom dolazi na montažu — brzo, čisto i precizno.",
            "title": "Izrada i montaža",
            "udi": "umb://element/42adfd80b4fc45e6b819324f6c7f62d8"
          },
          {
            "contentTypeKey": "a7327f85-d982-461b-b4c6-1499eaeed7da",
            "description": "Svi naši proizvodi dolaze sa garancijom. Tu smo za sva vaša pitanja i eventualne dorade, jer naš odnos ne prestaje sa isporukom.",
            "title": "Garancija i podrška",
            "udi": "umb://element/ac898408b68441fdbda917173cfae33e"
          }
        ],
        "settingsData": []
      },
      "title": "Kako izgleda saradnja",
      "udi": "umb://element/23bec9be059c474480fef1eaf3ba48b3"
    },
    {
      "contentTypeKey": "153b931b-effe-4a25-ae98-59171fd496fd",
      "description": "Pronađite odgovore na neka od najčešće postavljenih pitanja.",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/08a34a283902417399e2d4897cb7b9ae"
            },
            {
              "contentUdi": "umb://element/212715f593a14f0fa5f115012f79d59f"
            },
            {
              "contentUdi": "umb://element/8753c0f6df5540a39724e980fa256136"
            }
          ]
        },
        "contentData": [
          {
            "answer": "Da, dolazak na mjerenje je prvi i obavezan korak u procesu. Naš tim dolazi na lice mjesta kako bismo precizno izmjerili prostor i uzeli u obzir sve tehničke detalje potrebne za izradu namještaja po mjeri.\n\n",
            "contentTypeKey": "bb034b5e-9e42-4665-bc45-6009fcb4a729",
            "title": "Da li dolazite na mjerenje?",
            "udi": "umb://element/08a34a283902417399e2d4897cb7b9ae"
          },
          {
            "answer": "Vrijeme izrade zavisi od kompleksnosti projekta, ali u prosjeku traje od 10 do 25 radnih dana. Tačan rok izrade dogovaramo nakon mjerenja i odobrenja finalnog dizajna.",
            "contentTypeKey": "bb034b5e-9e42-4665-bc45-6009fcb4a729",
            "title": "Koliko traje izrada?",
            "udi": "umb://element/212715f593a14f0fa5f115012f79d59f"
          },
          {
            "answer": "Da, svi naši proizvodi dolaze sa garancijom u trajanju od 12 do 36 mjeseci, u zavisnosti od vrste namještaja i materijala. Takođe, uvijek smo dostupni za dodatnu podršku i servis po potrebi.",
            "contentTypeKey": "bb034b5e-9e42-4665-bc45-6009fcb4a729",
            "title": "Da li nudite garanciju?",
            "udi": "umb://element/8753c0f6df5540a39724e980fa256136"
          }
        ],
        "settingsData": []
      },
      "title": "Najčešće postavljena pitanja",
      "udi": "umb://element/f0dcf78dde434856a3422f8ddb54fbd3"
    },
    {
      "contentTypeKey": "3c79172b-5088-447e-bb62-1ad2698d2fbb",
      "images": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/408f45a364c5418aa6b6b544e0763444"
            },
            {
              "contentUdi": "umb://element/5ecb24257b3c4de7b3804a843326ec2c"
            }
          ]
        },
        "contentData": [
          {
            "backgroundImage": [
              {
                "key": "cf9a6365-4717-4356-9b85-ed2e398378e6",
                "mediaKey": "916995fe-bcd5-4814-bc65-1e15add397bd"
              }
            ],
            "callToActionLink": [
              {
                "name": "Saznaj više",
                "udi": "umb://document/040c2ddecd194eba9bb6f672c3e71260"
              }
            ],
            "contentTypeKey": "d98ca408-4fae-49b8-883a-b798e052c20e",
            "description": "Kuhinja u visokom sjaju, rađena po narudžbi u Tuzima. Integrisani aparati i maksimalna iskorišćenost prostora.",
            "title": "Moderna kuhinja po mjeri",
            "udi": "umb://element/408f45a364c5418aa6b6b544e0763444"
          },
          {
            "backgroundImage": [
              {
                "key": "b2f07d2d-4d36-4f3c-8526-315f4124a500",
                "mediaKey": "fffeff0a-1705-47fd-9a39-5657e8472453"
              }
            ],
            "callToActionLink": [
              {
                "name": "Saznaj više",
                "udi": "umb://document/040c2ddecd194eba9bb6f672c3e71260"
              }
            ],
            "contentTypeKey": "d98ca408-4fae-49b8-883a-b798e052c20e",
            "description": "Plakar izrađen za spavaću sobu u Bijelom Polju, sa kliznim ogledalima i unutrašnjom LED rasvjetom.",
            "title": "Ugradni plakar sa kliznim vratima",
            "udi": "umb://element/5ecb24257b3c4de7b3804a843326ec2c"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/bed874ecbc2742059bc0b9acec1df968"
    },
    {
      "callToActionLink": [
        {
          "name": "Kontaktirajte nas",
          "url": "mailto:test@gmail.com"
        }
      ],
      "contentTypeKey": "37697f29-cda6-4dcf-be48-b5230c6175ef",
      "description": "Vi birate izgled, materijale i raspored, a kvalitet traje godinama.",
      "image": [
        {
          "key": "08f1ccb1-e4d9-4e20-b8ce-0cb5b1d614e8",
          "mediaKey": "e4f55eb2-7f1e-462f-97fb-22944147c399"
        }
      ],
      "surtitle": "Zašto izabrati namještaj po mjeri?",
      "title": "100% prilagođen vašem prostoru",
      "udi": "umb://element/e0c9b9d7e30a4a4dab5964cfb9274167"
    },
    {
      "contentTypeKey": "3a3ee91a-d518-4258-968e-5e571c948a48",
      "description": "Specijalizovani smo za izradu različitih komada namještaja po mjeri",
      "fullImage": "1",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ebca10bb311947bb83d71e7ed0983dc8"
            },
            {
              "contentUdi": "umb://element/ca409072445c4afcb2ad96ffc23fbb45"
            },
            {
              "contentUdi": "umb://element/eb899b0b82784bb0ad671a1b70e07fd6"
            },
            {
              "contentUdi": "umb://element/ff05c997d9ba4b4aab051920777fc380"
            }
          ]
        },
        "contentData": [
          {
            "callToActionLink": [
              {
                "name": "Saznaj više",
                "udi": "umb://document/040c2ddecd194eba9bb6f672c3e71260"
              }
            ],
            "contentTypeKey": "1453fd69-b37a-4961-958e-ac4584168b1e",
            "description": "",
            "image": [
              {
                "key": "7584912a-cba2-44cf-997a-b53dd34becfc",
                "mediaKey": "b2316dc6-89b4-48ac-9b2e-e00d67a254d0"
              }
            ],
            "title": "Kuhinje",
            "udi": "umb://element/ebca10bb311947bb83d71e7ed0983dc8"
          },
          {
            "callToActionLink": [
              {
                "name": "Saznaj više",
                "udi": "umb://document/040c2ddecd194eba9bb6f672c3e71260"
              }
            ],
            "contentTypeKey": "1453fd69-b37a-4961-958e-ac4584168b1e",
            "description": "",
            "image": [
              {
                "key": "af1679aa-a7b1-4c9b-9a61-1f22be5e5daa",
                "mediaKey": "fffeff0a-1705-47fd-9a39-5657e8472453"
              }
            ],
            "title": "Plakari",
            "udi": "umb://element/ca409072445c4afcb2ad96ffc23fbb45"
          },
          {
            "callToActionLink": [
              {
                "name": "Saznaj više",
                "udi": "umb://document/040c2ddecd194eba9bb6f672c3e71260"
              }
            ],
            "contentTypeKey": "1453fd69-b37a-4961-958e-ac4584168b1e",
            "description": "",
            "image": [
              {
                "key": "21ad2e05-2a95-4974-966b-62078a802c40",
                "mediaKey": "c05dbed1-07a6-40b8-bace-f09a859e1d96"
              }
            ],
            "title": "Spavaće sobe",
            "udi": "umb://element/eb899b0b82784bb0ad671a1b70e07fd6"
          },
          {
            "callToActionLink": [
              {
                "name": "Saznaj više",
                "udi": "umb://document/040c2ddecd194eba9bb6f672c3e71260"
              }
            ],
            "contentTypeKey": "1453fd69-b37a-4961-958e-ac4584168b1e",
            "description": "",
            "image": [
              {
                "key": "8b3e1893-7d8d-442a-81e4-48e83359b1f1",
                "mediaKey": "e4f55eb2-7f1e-462f-97fb-22944147c399"
              }
            ],
            "title": "Dnevni boravci",
            "udi": "umb://element/ff05c997d9ba4b4aab051920777fc380"
          }
        ],
        "settingsData": []
      },
      "title": "Naša ponuda",
      "udi": "umb://element/44b334c3e3094aa9980eeb7a8b78d889"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <heroBanner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c8da610859724653a0e29fd18c0c4ed1"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [
        {
          "key": "b18c162c-bb8b-4f55-bae5-bdc529474d7d",
          "mediaKey": "b2316dc6-89b4-48ac-9b2e-e00d67a254d0"
        }
      ],
      "contentTypeKey": "d80394b6-fac9-4936-a6f4-5cb45d3db387",
      "description": "Prilagođeni enterijer koji savršeno odgovara vašem prostoru, stilu i svakodnevnim potrebama.",
      "primaryCallToActionLink": [
        {
          "name": "Zatraži ponudu",
          "url": "mailto:test@gmail.com"
        }
      ],
      "secondaryCallToActionLink": [
        {
          "name": "Pogledaj projekte",
          "udi": "umb://document/285aaa5a9c7a46738ac6bcc2d799f1e3"
        }
      ],
      "title": "Namještaj po Vašoj mjeri",
      "udi": "umb://element/c8da610859724653a0e29fd18c0c4ed1"
    }
  ],
  "settingsData": []
}]]></Value>
    </heroBanner>
  </Properties>
</Content>