<?xml version="1.0" encoding="utf-8"?>
<Content Key="285aaa5a-9c7a-4673-8ac6-bcc2d799f1e3" Alias="Naši radovi" Level="2">
  <Info>
    <Parent Key="040c2dde-cd19-4eba-9bb6-f672c3e71260">Početna</Parent>
    <Path>/Pocetna/NasiRadovi</Path>
    <Trashed>false</Trashed>
    <ContentType>articlesListing</ContentType>
    <CreateDate>2025-04-23T19:17:26</CreateDate>
    <NodeName Default="Naši radovi" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d4bcc387-2042-4a5a-81a7-4fec6796ada3">ArticlesListing</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Od ideje do montaže – pogledajte kako izgleda kada svaki detalj odgovara prostoru i željama klijenta. U nastavku izdvajamo projekte kuhinja, plakara, dnevnih soba i drugih komada namještaja izrađenih po mjeri. Svaki rad priča svoju priču – možda baš neka od njih bude inspiracija za vaš dom.]]></Value>
    </description>
    <surtitle>
      <Value><![CDATA[Naša realizacija]]></Value>
    </surtitle>
    <title>
      <Value><![CDATA[Pogledajte naše radove po mjeri]]></Value>
    </title>
  </Properties>
</Content>