<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ee2e4cf-9b32-449c-913c-9c34c1c90b68" Alias="Plakari" Level="3">
  <Info>
    <Parent Key="89a24ec7-3653-45d1-9b70-e73f478f50b2">Kategorije</Parent>
    <Path>/Pocetna/Kategorije/Plakari</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-05-10T10:31:01</CreateDate>
    <NodeName Default="Plakari" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>