<?xml version="1.0" encoding="utf-8"?>
<Content Key="040c2dde-cd19-4eba-9bb6-f672c3e71260" Alias="Početna" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Pocetna</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-03-12T19:11:44</CreateDate>
    <NodeName Default="Početna" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2b60f803-6d28-469f-8227-df06a5d330d8">Home</Template>
  </Info>
  <Properties>
    <address>
      <Value><![CDATA[Kolubarska bb, Doboj, 74000, BIH]]></Value>
    </address>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a0e56323d8804653b6d0e3d248c1f00f",
        "settingsUdi": "umb://element/6d89dbd8a31d40c3869015817819ed35"
      },
      {
        "contentUdi": "umb://element/463e66ab7d0c4161946102bacfced773",
        "settingsUdi": "umb://element/6f392b86935944a287ea384c3b6cffb2"
      },
      {
        "contentUdi": "umb://element/535d0413be964d229639ccd1f3ecf602",
        "settingsUdi": "umb://element/f43ddf1fc33041a689590d0fc2e83f0b"
      },
      {
        "contentUdi": "umb://element/8480cf752a114354bae4ff9e5a4a5232",
        "settingsUdi": "umb://element/73e1bdac4f604be7a9d46b1d13dd2b6a"
      },
      {
        "contentUdi": "umb://element/181d9f3ebd9a4163bd0584fde6172747",
        "settingsUdi": "umb://element/25dd0d4f6eff498db52fbb5ff1249ec7"
      },
      {
        "contentUdi": "umb://element/d1d3dd84873745ec9509f89003cdd239",
        "settingsUdi": "umb://element/7829c1a603384fbca4cc66f71f3d8afa"
      },
      {
        "contentUdi": "umb://element/4568b93d20a245ca8eb221f8ef047c4b",
        "settingsUdi": "umb://element/5388865c4d20469aac7f51ff556d71d7"
      }
    ]
  },
  "contentData": [
    {
      "callToActionLink": [
        {
          "name": "Saznaj više",
          "udi": "umb://document/054efec922394e2ea0be9c5a34181706"
        }
      ],
      "contentTypeKey": "37697f29-cda6-4dcf-be48-b5230c6175ef",
      "description": "Svaki komad je ručno izrađen, prilagođen prostoru i potrebama klijenata.",
      "image": [
        {
          "key": "db8b9781-3a48-44ea-8268-d70dc0216afe",
          "mediaKey": "cf9b9236-69ae-40cf-8b4a-25c207f4a1de"
        }
      ],
      "surtitle": "Zašto odabrati nas?",
      "title": "Više od 10 godina iskustva",
      "udi": "umb://element/463e66ab7d0c4161946102bacfced773"
    },
    {
      "contentTypeKey": "c64ccb49-123c-443c-88e0-0412478d0ab7",
      "description": "U srcu svakog komada je kvalitet, povjerenje i posvećenost",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/41af7a2d04a94ebca10ffaf8067739dc"
            },
            {
              "contentUdi": "umb://element/156125efa5d444a0940177bb9ba3ddf7"
            },
            {
              "contentUdi": "umb://element/cce3f13af0f74dec96e3a72a981cc65f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "7a9d0bb0-097e-4de2-b16d-d571df169d54",
            "description": "Koristimo samo vrhunske materijale",
            "icon": "award-line",
            "title": "Kvalitet",
            "udi": "umb://element/41af7a2d04a94ebca10ffaf8067739dc"
          },
          {
            "contentTypeKey": "7a9d0bb0-097e-4de2-b16d-d571df169d54",
            "description": "Poštujemo rokove",
            "icon": "time-line",
            "title": "Pouzdanost",
            "udi": "umb://element/156125efa5d444a0940177bb9ba3ddf7"
          },
          {
            "contentTypeKey": "7a9d0bb0-097e-4de2-b16d-d571df169d54",
            "description": "Vaše želje su nam prioritet",
            "icon": "brush-line",
            "title": "Personalizacija",
            "udi": "umb://element/cce3f13af0f74dec96e3a72a981cc65f"
          }
        ],
        "settingsData": []
      },
      "title": "Vrijednosti koje nas vode",
      "udi": "umb://element/8480cf752a114354bae4ff9e5a4a5232"
    },
    {
      "callToActionLink": [
        {
          "name": "Saznaj više",
          "udi": "umb://document/040c2ddecd194eba9bb6f672c3e71260"
        }
      ],
      "contentTypeKey": "3d300ef3-0bab-4ce6-8355-02d0fb1fed24",
      "description": "Jednostavan i transparentan proces u 4 koraka",
      "image": [
        {
          "key": "3311478a-8c56-4ccf-923b-bb5b34182e0f",
          "mediaKey": "0952843e-3c37-4756-80ef-2f598e7f1417"
        }
      ],
      "steps": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a518392e677847d9a05b5222435907f2"
            },
            {
              "contentUdi": "umb://element/7d5e39cb88184dac9493ea485b4b5cf9"
            },
            {
              "contentUdi": "umb://element/6fce98cb1301416b90c1c64c84878b0c"
            },
            {
              "contentUdi": "umb://element/798cee94860b42b39e95f378691a23ec"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "a7327f85-d982-461b-b4c6-1499eaeed7da",
            "description": "Naš tim je spreman da sasluša vaše ideje i potrebe. Možete nas kontaktirati putem telefona, emaila ili obrasca na sajtu kako bismo zakazali besplatne konsultacije.",
            "title": "Kontakt i konsultacije",
            "udi": "umb://element/a518392e677847d9a05b5222435907f2"
          },
          {
            "contentTypeKey": "a7327f85-d982-461b-b4c6-1499eaeed7da",
            "description": "Dolazimo na lice mjesta da precizno izmjerimo prostor. Na osnovu toga izrađujemo 3D prikaz rješenja koji vam omogućava da vizualizujete budući namještaj prije izrade.",
            "title": "Mjerenje i 3D dizajn",
            "udi": "umb://element/7d5e39cb88184dac9493ea485b4b5cf9"
          },
          {
            "contentTypeKey": "a7327f85-d982-461b-b4c6-1499eaeed7da",
            "description": "Vaš namještaj izrađujemo koristeći vrhunske materijale i savremenu tehnologiju. Naša ekipa potom dolazi na montažu — brzo, čisto i precizno.",
            "title": "Izrada i montaža",
            "udi": "umb://element/6fce98cb1301416b90c1c64c84878b0c"
          },
          {
            "contentTypeKey": "a7327f85-d982-461b-b4c6-1499eaeed7da",
            "description": "Svi naši proizvodi dolaze sa garancijom. Tu smo za sva vaša pitanja i eventualne dorade, jer naš odnos ne prestaje sa isporukom.",
            "title": "Garancija i podrška",
            "udi": "umb://element/798cee94860b42b39e95f378691a23ec"
          }
        ],
        "settingsData": []
      },
      "title": "Kako izgleda saradnja",
      "udi": "umb://element/d1d3dd84873745ec9509f89003cdd239"
    },
    {
      "contentTypeKey": "3c79172b-5088-447e-bb62-1ad2698d2fbb",
      "images": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/31ab54f2f81342a7bbd4a99ccd346e63"
            },
            {
              "contentUdi": "umb://element/a894a8283430451b86f64ed609f23b34"
            }
          ]
        },
        "contentData": [
          {
            "backgroundImage": [
              {
                "key": "cf9a6365-4717-4356-9b85-ed2e398378e6",
                "mediaKey": "916995fe-bcd5-4814-bc65-1e15add397bd"
              }
            ],
            "callToActionLink": [
              {
                "name": "Saznaj više",
                "udi": "umb://document/040c2ddecd194eba9bb6f672c3e71260"
              }
            ],
            "contentTypeKey": "d98ca408-4fae-49b8-883a-b798e052c20e",
            "description": "Kuhinja u visokom sjaju, rađena po narudžbi u Tuzima. Integrisani aparati i maksimalna iskorišćenost prostora.",
            "title": "Moderna kuhinja po mjeri",
            "udi": "umb://element/31ab54f2f81342a7bbd4a99ccd346e63"
          },
          {
            "backgroundImage": [
              {
                "key": "b2f07d2d-4d36-4f3c-8526-315f4124a500",
                "mediaKey": "fffeff0a-1705-47fd-9a39-5657e8472453"
              }
            ],
            "callToActionLink": [
              {
                "name": "Saznaj više",
                "udi": "umb://document/040c2ddecd194eba9bb6f672c3e71260"
              }
            ],
            "contentTypeKey": "d98ca408-4fae-49b8-883a-b798e052c20e",
            "description": "Plakar izrađen za spavaću sobu u Bijelom Polju, sa kliznim ogledalima i unutrašnjom LED rasvjetom.",
            "title": "Ugradni plakar sa kliznim vratima",
            "udi": "umb://element/a894a8283430451b86f64ed609f23b34"
          }
        ],
        "settingsData": []
      },
      "udi": "umb://element/181d9f3ebd9a4163bd0584fde6172747"
    },
    {
      "contentTypeKey": "153b931b-effe-4a25-ae98-59171fd496fd",
      "description": "Pronađite odgovore na neka od najčešće postavljenih pitanja.",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a3cc10d162d743a9bbd01eb5efd2a944"
            },
            {
              "contentUdi": "umb://element/acbf0253c12b4388b96fb6e97cd67c41"
            },
            {
              "contentUdi": "umb://element/1a8b93bd2cff4c7691951b5867682243"
            }
          ]
        },
        "contentData": [
          {
            "answer": "Da, dolazak na mjerenje je prvi i obavezan korak u procesu. Naš tim dolazi na lice mjesta kako bismo precizno izmjerili prostor i uzeli u obzir sve tehničke detalje potrebne za izradu namještaja po mjeri.\n\n",
            "contentTypeKey": "bb034b5e-9e42-4665-bc45-6009fcb4a729",
            "title": "Da li dolazite na mjerenje?",
            "udi": "umb://element/a3cc10d162d743a9bbd01eb5efd2a944"
          },
          {
            "answer": "Vrijeme izrade zavisi od kompleksnosti projekta, ali u prosjeku traje od 10 do 25 radnih dana. Tačan rok izrade dogovaramo nakon mjerenja i odobrenja finalnog dizajna.",
            "contentTypeKey": "bb034b5e-9e42-4665-bc45-6009fcb4a729",
            "title": "Koliko traje izrada?",
            "udi": "umb://element/acbf0253c12b4388b96fb6e97cd67c41"
          },
          {
            "answer": "Da, svi naši proizvodi dolaze sa garancijom u trajanju od 12 do 36 mjeseci, u zavisnosti od vrste namještaja i materijala. Takođe, uvijek smo dostupni za dodatnu podršku i servis po potrebi.",
            "contentTypeKey": "bb034b5e-9e42-4665-bc45-6009fcb4a729",
            "title": "Da li nudite garanciju?",
            "udi": "umb://element/1a8b93bd2cff4c7691951b5867682243"
          }
        ],
        "settingsData": []
      },
      "title": "Najčešće postavljena pitanja",
      "udi": "umb://element/4568b93d20a245ca8eb221f8ef047c4b"
    },
    {
      "contentTypeKey": "134057fe-66d1-4127-a9ab-13238390febf",
      "description": "Pogledajte iskustva zadovoljnih klijenata",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e443540b1ae34c0f8883b46ebfd2f6ff"
            },
            {
              "contentUdi": "umb://element/04faefbe37b3422db2c9ae1419ead93e"
            },
            {
              "contentUdi": "umb://element/594c184b12984e6e8b09acc7d507f7f6"
            }
          ]
        },
        "contentData": [
          {
            "author": "Milan, Novi Sad",
            "contentTypeKey": "c05e1799-0c51-431d-9a5c-ec09eea1e320",
            "text": "Plakar koji su nam izradili savršeno se uklopio u prostor. Sve je bilo završeno u roku, a tim je bio profesionalan i ljubazan. Preporučujem svakome!",
            "udi": "umb://element/e443540b1ae34c0f8883b46ebfd2f6ff"
          },
          {
            "author": "Slađan, Doboj",
            "contentTypeKey": "c05e1799-0c51-431d-9a5c-ec09eea1e320",
            "text": "Od prve konsultacije do montaže, sve je prošlo glatko. Posebno nam se dopao 3D prikaz jer smo odmah znali kako će izgledati. Hvala još jednom!",
            "udi": "umb://element/04faefbe37b3422db2c9ae1419ead93e"
          },
          {
            "author": "Ana i Nikola, Banja Luka",
            "contentTypeKey": "c05e1799-0c51-431d-9a5c-ec09eea1e320",
            "text": "Kuhinja je ispala još ljepša nego što smo zamislili. Svaki detalj je urađen precizno i kvalitetno. Vidi se da tim zna svoj posao",
            "udi": "umb://element/594c184b12984e6e8b09acc7d507f7f6"
          }
        ],
        "settingsData": []
      },
      "title": "Šta kažu naši klijenti",
      "udi": "umb://element/535d0413be964d229639ccd1f3ecf602"
    },
    {
      "contentTypeKey": "3a3ee91a-d518-4258-968e-5e571c948a48",
      "description": "Specijalizovani smo za izradu različitih komada namještaja po mjeri",
      "fullImage": "1",
      "items": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3308eee439574c7fb3d2c8e987fd2b05"
            },
            {
              "contentUdi": "umb://element/8a40f8d4f1454006a00c120d6f2f129b"
            },
            {
              "contentUdi": "umb://element/a4c46adf28c842df98bc669f541eb3ee"
            },
            {
              "contentUdi": "umb://element/5e8de0aec6ee45a5a18870a53f8d29c4"
            }
          ]
        },
        "contentData": [
          {
            "callToActionLink": [
              {
                "name": "Saznaj više",
                "udi": "umb://document/6d66f65e100e432eb64a8989bf20b732"
              }
            ],
            "contentTypeKey": "1453fd69-b37a-4961-958e-ac4584168b1e",
            "description": "",
            "image": [
              {
                "key": "7584912a-cba2-44cf-997a-b53dd34becfc",
                "mediaKey": "b2316dc6-89b4-48ac-9b2e-e00d67a254d0"
              }
            ],
            "title": "Kuhinje",
            "udi": "umb://element/3308eee439574c7fb3d2c8e987fd2b05"
          },
          {
            "callToActionLink": [
              {
                "name": "Saznaj više",
                "udi": "umb://document/040c2ddecd194eba9bb6f672c3e71260"
              }
            ],
            "contentTypeKey": "1453fd69-b37a-4961-958e-ac4584168b1e",
            "description": "",
            "image": [
              {
                "key": "af1679aa-a7b1-4c9b-9a61-1f22be5e5daa",
                "mediaKey": "fffeff0a-1705-47fd-9a39-5657e8472453"
              }
            ],
            "title": "Plakari",
            "udi": "umb://element/8a40f8d4f1454006a00c120d6f2f129b"
          },
          {
            "callToActionLink": [
              {
                "name": "Saznaj više",
                "udi": "umb://document/040c2ddecd194eba9bb6f672c3e71260"
              }
            ],
            "contentTypeKey": "1453fd69-b37a-4961-958e-ac4584168b1e",
            "description": "",
            "image": [
              {
                "key": "21ad2e05-2a95-4974-966b-62078a802c40",
                "mediaKey": "c05dbed1-07a6-40b8-bace-f09a859e1d96"
              }
            ],
            "title": "Spavaće sobe",
            "udi": "umb://element/a4c46adf28c842df98bc669f541eb3ee"
          },
          {
            "callToActionLink": [
              {
                "name": "Saznaj više",
                "udi": "umb://document/040c2ddecd194eba9bb6f672c3e71260"
              }
            ],
            "contentTypeKey": "1453fd69-b37a-4961-958e-ac4584168b1e",
            "description": "",
            "image": [
              {
                "key": "8b3e1893-7d8d-442a-81e4-48e83359b1f1",
                "mediaKey": "e4f55eb2-7f1e-462f-97fb-22944147c399"
              }
            ],
            "title": "Dnevni boravci",
            "udi": "umb://element/5e8de0aec6ee45a5a18870a53f8d29c4"
          }
        ],
        "settingsData": []
      },
      "title": "Naša ponuda",
      "udi": "umb://element/a0e56323d8804653b6d0e3d248c1f00f"
    }
  ],
  "settingsData": [
    {
      "backgroundColor": "",
      "contentTypeKey": "dd8e9336-39d5-408e-8c27-b1f174e910ca",
      "udi": "umb://element/6d89dbd8a31d40c3869015817819ed35"
    },
    {
      "backgroundColor": "",
      "contentTypeKey": "dd8e9336-39d5-408e-8c27-b1f174e910ca",
      "udi": "umb://element/6f392b86935944a287ea384c3b6cffb2"
    },
    {
      "backgroundColor": "",
      "contentTypeKey": "dd8e9336-39d5-408e-8c27-b1f174e910ca",
      "udi": "umb://element/f43ddf1fc33041a689590d0fc2e83f0b"
    },
    {
      "backgroundColor": "",
      "contentTypeKey": "dd8e9336-39d5-408e-8c27-b1f174e910ca",
      "udi": "umb://element/73e1bdac4f604be7a9d46b1d13dd2b6a"
    },
    {
      "backgroundColor": [
        "bg-gray-900"
      ],
      "contentTypeKey": "dd8e9336-39d5-408e-8c27-b1f174e910ca",
      "udi": "umb://element/25dd0d4f6eff498db52fbb5ff1249ec7"
    },
    {
      "backgroundColor": [
        "bg-gray-50"
      ],
      "contentTypeKey": "dd8e9336-39d5-408e-8c27-b1f174e910ca",
      "udi": "umb://element/7829c1a603384fbca4cc66f71f3d8afa"
    },
    {
      "backgroundColor": "",
      "contentTypeKey": "dd8e9336-39d5-408e-8c27-b1f174e910ca",
      "udi": "umb://element/5388865c4d20469aac7f51ff556d71d7"
    }
  ]
}]]></Value>
    </blocks>
    <bottomLinks>
      <Value><![CDATA[[
  {
    "name": "Privacy Policy",
    "target": "_blank",
    "udi": "umb://document/040c2ddecd194eba9bb6f672c3e71260"
  },
  {
    "name": "Uslovi koriscenja",
    "udi": "umb://document/040c2ddecd194eba9bb6f672c3e71260"
  }
]]]></Value>
    </bottomLinks>
    <columns>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/34234a9a1d91411188f8741944e8406b"
      },
      {
        "contentUdi": "umb://element/0678db5924154d95b18da8a6bb075c7a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "29d463b1-7200-419f-ae62-601772c70b1c",
      "links": [
        {
          "udi": "umb://document/6d66f65e100e432eb64a8989bf20b732"
        },
        {
          "udi": "umb://document/570f8a9bfab546cab0746e7d9e94fbec"
        },
        {
          "udi": "umb://document/a54b03ab08ea4cbf97f1834cb8265468"
        }
      ],
      "title": "Kategorije",
      "udi": "umb://element/0678db5924154d95b18da8a6bb075c7a"
    },
    {
      "contentTypeKey": "29d463b1-7200-419f-ae62-601772c70b1c",
      "links": [
        {
          "udi": "umb://document/054efec922394e2ea0be9c5a34181706"
        },
        {
          "udi": "umb://document/285aaa5a9c7a46738ac6bcc2d799f1e3"
        }
      ],
      "title": "Korisno",
      "udi": "umb://element/34234a9a1d91411188f8741944e8406b"
    }
  ],
  "settingsData": []
}]]></Value>
    </columns>
    <contactButton>
      <Value><![CDATA[[
  {
    "name": "Kontaktirajte nas",
    "url": "mailto:test@gmail.com"
  }
]]]></Value>
    </contactButton>
    <copyrightText>
      <Value><![CDATA[{{godina}} REFLECT DESIGN d.o.o. Sva prava zadržana.]]></Value>
    </copyrightText>
    <description>
      <Value><![CDATA[Kreiramo unikatna rješenja za Vaš dom – od moderne kuhinje do udobne spavaće sobe.]]></Value>
    </description>
    <displaySplashScreen>
      <Value><![CDATA[1]]></Value>
    </displaySplashScreen>
    <emailAddress>
      <Value><![CDATA[test@gmail.com]]></Value>
    </emailAddress>
    <footerLogo>
      <Value><![CDATA[[
  {
    "key": "a19e26f2-43f7-46e5-9770-93e71a40a5c5",
    "mediaKey": "cd485a9f-2b8c-4169-94a6-cdb52f601ebe"
  }
]]]></Value>
    </footerLogo>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "8e6bc72b-adb0-4d33-aaf0-d81d04601de7",
    "mediaKey": "cd485a9f-2b8c-4169-94a6-cdb52f601ebe"
  }
]]]></Value>
    </headerLogo>
    <heroBanner>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2823a995a13f4b8ab767693104a642d1"
      }
    ]
  },
  "contentData": [
    {
      "backgroundImage": [
        {
          "key": "e32b6a99-13fe-45c2-a8bd-341fdb8f92a6",
          "mediaKey": "5394eba2-1440-4dd0-a6c3-92983276d062"
        }
      ],
      "contentTypeKey": "d80394b6-fac9-4936-a6f4-5cb45d3db387",
      "description": "Kreiramo unikatna rješenja za Vaš dom – od moderne kuhinje do udobne spavaće sobe.",
      "primaryCallToActionLink": [
        {
          "name": "Zatraži ponudu",
          "udi": "umb://document/040c2ddecd194eba9bb6f672c3e71260"
        }
      ],
      "secondaryCallToActionLink": [
        {
          "name": "Pogledaj projekte",
          "udi": "umb://document/285aaa5a9c7a46738ac6bcc2d799f1e3"
        }
      ],
      "title": "Namještaj po Vašoj mjeri",
      "udi": "umb://element/2823a995a13f4b8ab767693104a642d1"
    }
  ],
  "settingsData": []
}]]></Value>
    </heroBanner>
    <menuItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/589c19fe972b49159b39ab7fe92503f1"
      },
      {
        "contentUdi": "umb://element/f0d1e166025646f18a056ef19232b43c"
      },
      {
        "contentUdi": "umb://element/9220059891ed4303b9b60a9efc4f05ac"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ced01532-3e4c-4420-9c03-fe562f9d6db5",
      "link": [
        {
          "udi": "umb://document/054efec922394e2ea0be9c5a34181706"
        }
      ],
      "sublinks": "",
      "udi": "umb://element/9220059891ed4303b9b60a9efc4f05ac"
    },
    {
      "contentTypeKey": "ced01532-3e4c-4420-9c03-fe562f9d6db5",
      "link": [
        {
          "udi": "umb://document/191185f24890441c8bd76a2fad8cc298"
        }
      ],
      "sublinks": [
        {
          "udi": "umb://document/6d66f65e100e432eb64a8989bf20b732"
        },
        {
          "udi": "umb://document/570f8a9bfab546cab0746e7d9e94fbec"
        },
        {
          "udi": "umb://document/a54b03ab08ea4cbf97f1834cb8265468"
        }
      ],
      "udi": "umb://element/589c19fe972b49159b39ab7fe92503f1"
    },
    {
      "contentTypeKey": "ced01532-3e4c-4420-9c03-fe562f9d6db5",
      "link": [
        {
          "udi": "umb://document/285aaa5a9c7a46738ac6bcc2d799f1e3"
        }
      ],
      "sublinks": "",
      "udi": "umb://element/f0d1e166025646f18a056ef19232b43c"
    }
  ],
  "settingsData": []
}]]></Value>
    </menuItems>
    <phoneNumber>
      <Value><![CDATA[+381 637255936]]></Value>
    </phoneNumber>
    <socialIcons>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3f7ec3b56e9e4f94b061bc7195f552b5"
      },
      {
        "contentUdi": "umb://element/cd30b65a1a5348ed8e324821b1ead866"
      },
      {
        "contentUdi": "umb://element/b4c4e6ae71684f39a92e73ced7396ad5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "19bc6b3d-5fac-4eb8-aa05-84ec238ca599",
      "icon": [
        "facebook"
      ],
      "link": "https://www.facebook.com",
      "udi": "umb://element/cd30b65a1a5348ed8e324821b1ead866"
    },
    {
      "contentTypeKey": "19bc6b3d-5fac-4eb8-aa05-84ec238ca599",
      "icon": [
        "instagram"
      ],
      "link": "https://www.instagram.com",
      "udi": "umb://element/b4c4e6ae71684f39a92e73ced7396ad5"
    },
    {
      "contentTypeKey": "19bc6b3d-5fac-4eb8-aa05-84ec238ca599",
      "icon": [
        "youtube"
      ],
      "link": "www.youtube.com",
      "udi": "umb://element/3f7ec3b56e9e4f94b061bc7195f552b5"
    }
  ],
  "settingsData": []
}]]></Value>
    </socialIcons>
    <splashScreenImage>
      <Value><![CDATA[[
  {
    "key": "458c1c3c-fa27-4674-a72e-eb6b31b5f5be",
    "mediaKey": "c913af6d-a374-427e-995c-4a4af0442fab"
  }
]]]></Value>
    </splashScreenImage>
  </Properties>
</Content>