<?xml version="1.0" encoding="utf-8"?>
<Content Key="02d94630-4987-4d48-80f5-fbefdcbbde72" Alias="Spavaće sobe" Level="3">
  <Info>
    <Parent Key="89a24ec7-3653-45d1-9b70-e73f478f50b2">Kategorije</Parent>
    <Path>/Pocetna/Kategorije/SpavaceSobe</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-05-10T10:31:16</CreateDate>
    <NodeName Default="Spavaće sobe" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>