<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e2a2cfa-5b1f-42ec-9de1-a849672a04a4" Alias="Baneri" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Baneri</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-05-10T10:37:37</CreateDate>
    <NodeName Default="Baneri" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>