<?xml version="1.0" encoding="utf-8"?>
<Media Key="916995fe-bcd5-4814-bc65-1e15add397bd" Alias="Lotus Design N Print Ocw5 Evbwyi Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LotusDesignNPrintOcw5EvbwyiUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-01T21:34:16</CreateDate>
    <NodeName Default="Lotus Design N Print Ocw5 Evbwyi Unsplash" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5ckhteov/lotus-design-n-print-ocw5_evbwyi-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>