<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2316dc6-89b4-48ac-9b2e-e00d67a254d0" Alias="Pexels Pixabay 279648" Level="2">
  <Info>
    <Parent Key="2633ca94-e5fe-4366-9d22-d39a09776604">Slike namjestaja</Parent>
    <Path>/SlikeNamjestaja/PexelsPixabay279648</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-10T10:40:26</CreateDate>
    <NodeName Default="Pexels Pixabay 279648" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ybwddmvu/pexels-pixabay-279648.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>