<?xml version="1.0" encoding="utf-8"?>
<Media Key="0952843e-3c37-4756-80ef-2f598e7f1417" Alias="Pexels A Darmel 7642000" Level="2">
  <Info>
    <Parent Key="2a10c22b-2e69-4f53-91ed-4dc3d4ce2307">Sadržaj</Parent>
    <Path>/Sadrzaj/PexelsADarmel7642000</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-10T10:59:19</CreateDate>
    <NodeName Default="Pexels A Darmel 7642000" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hccfecjx/pexels-a-darmel-7642000.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>