<?xml version="1.0" encoding="utf-8"?>
<Media Key="fffeff0a-1705-47fd-9a39-5657e8472453" Alias="Pexels Marywhitneyph 90319" Level="2">
  <Info>
    <Parent Key="2633ca94-e5fe-4366-9d22-d39a09776604">Slike namjestaja</Parent>
    <Path>/SlikeNamjestaja/PexelsMarywhitneyph90319</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-10T10:47:04</CreateDate>
    <NodeName Default="Pexels Marywhitneyph 90319" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bt5p35yf/pexels-marywhitneyph-90319.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>