<?xml version="1.0" encoding="utf-8"?>
<Media Key="5394eba2-1440-4dd0-a6c3-92983276d062" Alias="Pexels Fotoaibe 1643384" Level="2">
  <Info>
    <Parent Key="2633ca94-e5fe-4366-9d22-d39a09776604">Slike namjestaja</Parent>
    <Path>/SlikeNamjestaja/PexelsFotoaibe1643384</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-10T11:35:03</CreateDate>
    <NodeName Default="Pexels Fotoaibe 1643384" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/utvjiu0a/pexels-fotoaibe-1643384.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>