<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4f55eb2-7f1e-462f-97fb-22944147c399" Alias="Pexels Fotoaibe 1571453" Level="2">
  <Info>
    <Parent Key="2633ca94-e5fe-4366-9d22-d39a09776604">Slike namjestaja</Parent>
    <Path>/SlikeNamjestaja/PexelsFotoaibe1571453</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-10T10:50:15</CreateDate>
    <NodeName Default="Pexels Fotoaibe 1571453" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wrpplza4/pexels-fotoaibe-1571453.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>