<?xml version="1.0" encoding="utf-8"?>
<Media Key="c05dbed1-07a6-40b8-bace-f09a859e1d96" Alias="Pexels Pixabay 262048" Level="2">
  <Info>
    <Parent Key="2633ca94-e5fe-4366-9d22-d39a09776604">Slike namjestaja</Parent>
    <Path>/SlikeNamjestaja/PexelsPixabay262048</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-10T10:48:12</CreateDate>
    <NodeName Default="Pexels Pixabay 262048" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <alternateText>
      <Value><![CDATA[]]></Value>
    </alternateText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/045f1qfg/pexels-pixabay-262048.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>