<?xml version="1.0" encoding="utf-8"?>
<Media Key="625c1f68-49c0-4130-92be-8e85dcd0cc33" Alias="Photo 1600585152220 90363Fe7e115" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Photo160058515222090363Fe7e115</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-04-01T21:33:00</CreateDate>
    <NodeName Default="Photo 1600585152220 90363Fe7e115" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oapfyywa/photo-1600585152220-90363fe7e115.avif]]></Value>
    </umbracoFile>
  </Properties>
</Media>