<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a10c22b-2e69-4f53-91ed-4dc3d4ce2307" Alias="Sadržaj" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sadrzaj</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-05-10T10:59:10</CreateDate>
    <NodeName Default="Sadržaj" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>