<?xml version="1.0" encoding="utf-8"?>
<Media Key="2633ca94-e5fe-4366-9d22-d39a09776604" Alias="Slike namjestaja" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SlikeNamjestaja</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-05-10T10:37:45</CreateDate>
    <NodeName Default="Slike namjestaja" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>