@model HeaderMenuItemViewModel

<div class="relative group">
    <button class="px-4 py-2 hover:text-primary">
        @Model.Link.Name
        <svg xmlns="http://www.w3.org/2000/svg" class="ml-1 h-4 w-4 inline" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
    </button>
    <div class="absolute left-0 mt-2 w-48 bg-white shadow-lg hidden group-hover:block p-2 min-w-[200px]">
        @foreach (var subItem in Model.SubLinks)
        {
            <div class="px-2 py-1 hover:bg-gray-100 rounded-md">
                <a href="@subItem.Url" class="w-full block">@subItem.Name</a>
            </div>
        }
    </div>
</div> 