<?xml version="1.0" encoding="utf-8"?>
<DataType Key="52d95107-9ba7-423c-b03c-c7673b5f3da5" Alias="BL - Testimonials" Level="2">
  <Info>
    <Name>BL - Testimonials</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Block+Lists</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "c05e1799-0c51-431d-9a5c-ec09eea1e320",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{author}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 3,
    "min": null
  }
}]]></Config>
</DataType>