<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b1d35a77-d6d2-4f00-97c2-a9bc74cbe223" Alias="DDL - Background Colors" Level="2">
  <Info>
    <Name>DDL - Background Colors</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>DDL</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "bg-gray-50"
    },
    {
      "id": 2,
      "value": "bg-gray-100"
    },
    {
      "id": 3,
      "value": "bg-gray-200"
    },
    {
      "id": 4,
      "value": "bg-gray-300"
    },
    {
      "id": 5,
      "value": "bg-gray-400"
    },
    {
      "id": 6,
      "value": "bg-gray-500"
    },
    {
      "id": 7,
      "value": "bg-gray-600"
    },
    {
      "id": 8,
      "value": "bg-gray-700"
    },
    {
      "id": 9,
      "value": "bg-gray-800"
    },
    {
      "id": 10,
      "value": "bg-gray-900"
    },
    {
      "id": 11,
      "value": "bg-gradient-to-r from-blue-50 to-blue-100/50"
    },
    {
      "id": 12,
      "value": "bg-gradient-to-r from-red-50 to-red-100/50"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>