<?xml version="1.0" encoding="utf-8"?>
<DataType Key="462aede7-f3f4-4eac-a10a-a70856d957d2" Alias="DDL - Social Icon Type" Level="2">
  <Info>
    <Name>DDL - Social Icon Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>DDL</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "facebook"
    },
    {
      "id": 2,
      "value": "instagram"
    },
    {
      "id": 3,
      "value": "youtube"
    },
    {
      "id": 4,
      "value": "twitter-x"
    },
    {
      "id": 5,
      "value": "linkedin"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>