<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48af0a21-ed7d-444c-8438-aeee37f492dd" Alias="MNTP - Categories Picker" Level="2">
  <Info>
    <Name>MNTP - Categories Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>MNTP</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "category",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": null,
    "query": "$root/categories",
    "type": "content"
  }
}]]></Config>
</DataType>