<?xml version="1.0" encoding="utf-8"?>
<DataType Key="914f9082-19dc-405a-b9f0-fc5f44d0ad06" Alias="Url Picker" Level="1">
  <Info>
    <Name>Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>