<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f6e6e865-76c1-430f-96ee-f1f023b25c2c" Alias="articlesListing" Level="2">
  <Info>
    <Name>Articles Listing</Name>
    <Icon>icon-newspaper color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ca505a9f-8c86-4dbf-9aa8-c2f5d1e8139a">iPage</Composition>
    </Compositions>
    <DefaultTemplate>ArticlesListing</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d4bcc387-2042-4a5a-81a7-4fec6796ada3">ArticlesListing</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="90fd32e4-8e7d-480d-8ad8-c5d9e71dc8f6" SortOrder="0">article</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ee0089ab-7dde-4720-8ff5-6074d19621ca</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Predstavlja opis koji se nalazi ispod naslova.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="banner">Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f9ac599b-1fab-4f2b-8f04-7aff5549d6cb</Key>
      <Name>Surtitle</Name>
      <Alias>surtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tekst koji se nalazi iznad naslova.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="banner">Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>64be6a08-5239-49b2-98e1-cb711113f4fc</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Predstavlja naslov.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="banner">Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>38e04fc7-fa5c-4467-86c8-cd0f3cea93c9</Key>
      <Caption>Banner</Caption>
      <Alias>banner</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>