<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="71f16f57-6fd5-4ff6-833b-355d0d6580a0" Alias="categories" Level="2">
  <Info>
    <Name>Categories</Name>
    <Icon>icon-categories color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Containers</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="366a8fce-dd87-432c-92cb-25dde93e42d2" SortOrder="0">category</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>