<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b4e22d5f-f8ac-4f1c-acc6-b6f629fc6890" Alias="header" Level="2">
  <Info>
    <Name>Header</Name>
    <Icon>icon-defrag color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ec370bca-f7a2-4da9-8b80-358049a11605</Key>
      <Name>Contact Button</Name>
      <Alias>contactButton</Alias>
      <Definition>914f9082-19dc-405a-b9f0-fc5f44d0ad06</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sadrzaj crvenog dugmeta za kontakt.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="header/header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>52da0e63-5c18-4ac6-b0e0-599e2623e9a6</Key>
      <Name>Logo</Name>
      <Alias>headerLogo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header/header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>afbf2214-ad64-44e4-ba7f-a3b409158b7d</Key>
      <Name>Menu Items</Name>
      <Alias>menuItems</Alias>
      <Definition>3bb6362f-232a-4ad6-8e8b-abbbcad55682</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lista linkova koji su prikazani na desnoj strani.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header/header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>27dea8b7-d011-4349-a9ea-a737782c47c5</Key>
      <Caption>Header</Caption>
      <Alias>header/header</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ee4ad542-3bab-4289-a6e2-30df45cc4fff</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>