<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="59754593-8055-43e5-ad07-1577ddddb521" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="61829c25-14aa-4f34-93e2-750e2f4ab48b">footer</Composition>
      <Composition Key="b4e22d5f-f8ac-4f1c-acc6-b6f629fc6890">header</Composition>
      <Composition Key="ca505a9f-8c86-4dbf-9aa8-c2f5d1e8139a">iPage</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2b60f803-6d28-469f-8227-df06a5d330d8">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f6e6e865-76c1-430f-96ee-f1f023b25c2c" SortOrder="0">articlesListing</ContentType>
    <ContentType Key="6d9e0e47-2efe-4294-b85e-9bf67917aa4a" SortOrder="1">standardContent</ContentType>
    <ContentType Key="71f16f57-6fd5-4ff6-833b-355d0d6580a0" SortOrder="2">categories</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9cac24f8-27e4-4aa5-904b-109c440e0027</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>585c0a8f-2d2c-4e46-af1a-b868a6f230a2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lista sekcija koje se nalaze na pocetnoj stranici.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d8e41370-43b2-43f1-8762-5dbbc9497220</Key>
      <Name>Display splash screen</Name>
      <Alias>displaySplashScreen</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Ukoliko je ukljuceno, logo ce da se prikaze prilikom ucitavanja preko cijelog ekrana.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e89eb056-86af-411c-b53b-cf82bf76e5fb</Key>
      <Name>Hero Banner</Name>
      <Alias>heroBanner</Alias>
      <Definition>8c47bd41-6eb7-4ac4-a53a-e9f51074e272</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Predstavlja hero banner koji se nalazi ispod header-a.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>320ff3a6-084b-41d4-8be1-660e056a4be3</Key>
      <Name>Splash screen image</Name>
      <Alias>splashScreenImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Predstavlja sliku koja ce se prikazati na ucitavanju.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>39dfdf4b-5f36-481f-ab5e-247a57b539d8</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>