<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6d9e0e47-2efe-4294-b85e-9bf67917aa4a" Alias="standardContent" Level="2">
  <Info>
    <Name>Standard Content</Name>
    <Icon>icon-document color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="ca505a9f-8c86-4dbf-9aa8-c2f5d1e8139a">iPage</Composition>
    </Compositions>
    <DefaultTemplate>StandardContent</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="65a8c356-f294-47fb-b894-e4c6411bcccc">StandardContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6d9e0e47-2efe-4294-b85e-9bf67917aa4a" SortOrder="0">standardContent</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>cc970d3d-b400-4840-afd0-0e20ca71ab4a</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>c3eaa289-6366-402a-8d30-b51567563ab5</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lista sekcija koje se nalaze na stranici.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9a5f857b-7d72-447f-9362-d6f8c1a83707</Key>
      <Name>Hero Banner</Name>
      <Alias>heroBanner</Alias>
      <Definition>8c47bd41-6eb7-4ac4-a53a-e9f51074e272</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Predstavlja hero banner koji se nalazi ispod header-a.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>954c5dd8-9365-42b6-a87e-2d2c7e028b20</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>